.main {
	background: url(../img/main.jpg);
	background-size: 100% 100%;
	width: 800px;
	height: 596px;
	margin: 0 auto;
}

.box {
	background-color: bisque;
	border-radius: 10px;
	top: 300px;
	left: 420px;
	width: 290px;
	height: 310px;
	padding: 0px 20px;
	box-shadow: rgb(85, 85, 85) 0px 0px 5px;
	position: relative;
}

.send_reply_text {
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

#submit {
	background: red;
	border: none;
	border-radius: 20px;
	color: white;
	padding: 8px 20px;
	margin: 4px 0 0 0;
}
