*{
    padding: 0;
    margin: 0;
}

.main{
    /* border: 1px solid green; */
    background-image: url(../img/main.jpg);
    background-size: cover;
    width: 900px;
    height: 660px;
    margin: 20px auto 30px auto;
    position: relative;
}

.input-box{
    /* border: 1px solid red; */
    background-color: bisque;
    position: absolute;
    bottom: 0;
    right: 55px;
    width: 370px;
    height: 335px;
    border-radius: 10px;
    box-shadow: rgb(85, 85, 85) 0px 0px 5px;
}

.box1{
    /* border: 1px solid indigo; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px 0px 15px;
}

.box1 span{
    font-size: 22px;
    color: red;
}

#img-stop{
    width: 25px;
    height: 25px;
    display: block;
}

#img-play{
    width: 25px;
    height: 25px;
    display: none;
}

.box2{
    /* border: 1px solid hotpink; */
    margin: 10px 15px 0px 15px;
}

.box3{
    /* border: 1px solid aqua; */
    display: flex;
    margin: 10px 15px 0px 15px;
    justify-content: space-between;
}

.box4{
    /* border: 1px solid thistle; */
    margin: 10px 15px 0px 15px;
}

.input-address{
    width: 99%;
}

.box5{
    /* border: 1px solid salmon; */
    margin: 10px 15px 0px 15px;
}

.input-reason{
    width: 99.5%;
    height: 50px;
    resize: none;
}

.box6{
    /* border: 1px solid olivedrab; */
    margin: 5px 15px 0px 15px;
    text-align: center;
}

.box6 button{
    background: red;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    width: 100px;
    height: 35px;
}